@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  to {
    opacity: 1; } }

.fade-in-element {
  animation: fade-in 1s; }

.hidden {
  opacity: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.page-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(21, 21, 21, 0.7); }
  @media only screen and (max-width: 50rem) {
    .page-overlay {
      display: flex; } }

.btn {
  width: 100%;
  background-color: #333333;
  color: #f2f2f2; }
  .btn:focus {
    outline: none; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .2s;
    background-color: rgba(255, 255, 255, 0); }
  .btn:hover:before {
    background-color: rgba(255, 255, 255, 0.1); }

body {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  line-height: 1.7;
  color: #4f4e4e; }

.hero-title, .section-title, .sub-section-title-1, .sub-section-title-2, .hero__title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
  color: #3b3b3b; }

.hero-body, .section-body, .sub-section-body-1, .sub-section-body-2 {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  line-height: 1.7;
  color: #4f4e4e; }

.hero-title {
  line-height: 1;
  letter-spacing: 0.1rem;
  font-size: 7rem;
  font-weight: 900; }

.section-title {
  font-size: 5rem;
  text-align: center;
  font-weight: 900; }
  @media only screen and (max-width: 37.5rem) {
    .section-title {
      font-size: 2rem;
      padding-bottom: 1rem; } }

.sub-section-title-1 {
  font-size: 2.8rem;
  font-weight: 700; }

.sub-section-title-2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left; }

.hero-body {
  font-size: 3rem;
  line-height: 1;
  font-weight: 500; }

.section-body {
  font-size: 1.8rem;
  text-align: center; }
  @media only screen and (max-width: 37.5rem) {
    .section-body {
      font-size: 1.2rem; } }

.sub-section-body-1 {
  font-size: 1.6rem; }

.sub-section-body-2 {
  font-size: 1.4rem;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.footer {
  background-color: black;
  padding-top: 13rem;
  color: white; }
  @media only screen and (max-width: 50rem) {
    .footer {
      padding-top: 6rem; } }
  .footer__content {
    display: flex;
    flex-wrap: wrap; }
  .footer__nav {
    padding: 0 2rem;
    flex: 1; }
  .footer__title {
    font-size: 2rem;
    color: white; }
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
  .footer__item {
    font-size: 1.4rem;
    color: #727272;
    cursor: pointer; }
    .footer__item:not(:last-child) {
      margin-bottom: 1rem; }
  .footer__item:hover {
    color: white; }
  .footer__copyright {
    padding: 4rem 0;
    font-size: 1.6rem;
    background-color: #2b2b2b;
    margin-top: 3rem;
    text-align: center;
    color: #727272; }

.hero {
  height: 100vh;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.1em;
  position: relative;
  display: flex; }
  .hero__content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .hero__title {
    font-size: 7rem;
    color: #1c1c1c;
    font-weight: 900; }
    @media only screen and (max-width: 37.5rem) {
      .hero__title {
        font-size: 3rem;
        font-weight: 900; } }
  .hero__sub {
    font-size: 4rem;
    line-height: 1;
    font-weight: 500; }
    @media only screen and (max-width: 37.5rem) {
      .hero__sub {
        font-size: 1.4rem; } }
  .hero__list {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .hero__item {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    position: relative; }
    @media only screen and (max-width: 50rem) {
      .hero__item {
        padding: .5rem 1rem; } }
  .hero__item::before {
    content: "";
    position: absolute;
    top: 1;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(../img/svg/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block; }
    @media only screen and (max-width: 50rem) {
      .hero__item::before {
        left: -6px; } }
  .hero__icon {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 6.5rem;
    height: 6.5rem;
    display: block;
    fill: #1c1c1c;
    border: 1px solid #1c1c1c;
    padding: 1rem;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 1rem 1rem; }
    @media only screen and (max-width: 37.5rem) {
      .hero__icon {
        width: 4rem;
        height: 4rem;
        padding: .5rem .5rem; } }

.header {
  background-color: white;
  font-family: 'Montserrat', sans-serif; }
  .header__fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 0.3rem rgba(28, 28, 28, 0.3);
    padding-top: 0;
    background-color: white; }

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  align-items: center;
  font-weight: 500; }
  @media only screen and (max-width: 50rem) {
    .navbar {
      align-items: flex-start; } }
  @media only screen and (max-width: 37.5rem) {
    .navbar {
      font-size: 1.2rem; } }
  .navbar__logo {
    font-size: 3rem;
    z-index: 1000c; }
  .navbar__list {
    list-style: none;
    display: flex;
    transition: all 1s; }
    @media only screen and (max-width: 50rem) {
      .navbar__list {
        width: 100%;
        flex-direction: column;
        margin-left: 1rem;
        display: none;
        transform: scaleY(0); } }
  .navbar__item {
    position: relative; }
  .navbar__item::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #1c1c1c;
    transform: scaleX(0);
    transition: transform 0.5s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .navbar__item:hover::before, .navbar__item--actived::before {
    transform: scaleX(1); }
  .navbar__item:active::before {
    background-color: gray; }
  .navbar__link:visited, .navbar__link:link {
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #1c1c1c;
    text-transform: capitalize; }
    @media only screen and (max-width: 50rem) {
      .navbar__link:visited, .navbar__link:link {
        padding: 1rem 0; } }
  .navbar__icon {
    position: relative;
    z-index: 999999; }
    .navbar__icon, .navbar__icon::after, .navbar__icon::before {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: grey; }
    .navbar__icon::after, .navbar__icon::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all .3s; }
    .navbar__icon::before {
      top: -.8rem; }
    .navbar__icon::after {
      top: .8rem; }
  .navbar__button {
    display: none;
    height: 6.5rem;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    cursor: pointer; }
    @media only screen and (max-width: 50rem) {
      .navbar__button {
        display: flex; } }
  .navbar .navbar-btn .navbar-icon {
    background-color: transparent; }
  .navbar .navbar-btn .navbar-icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navbar .navbar-btn .navbar-icon::after {
    top: 0;
    transform: rotate(-135deg); }

.container {
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1300px) {
    .container {
      padding: 0 1.5rem; } }
  @media only screen and (max-width: 50rem) {
    .container {
      max-width: 72rem; } }

.about {
  background-color: #f2f2f2;
  width: 100%;
  padding: 13rem 0;
  letter-spacing: 0.1em;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 50rem) {
    .about {
      padding: 6rem 2rem; } }
  .about__title {
    font-size: 5rem;
    color: #1c1c1c;
    text-align: center;
    font-weight: 900; }

.team {
  padding: 13rem 0;
  letter-spacing: 0.1em;
  background-color: #f2f2f2; }
  @media only screen and (max-width: 37.5rem) {
    .team {
      padding: 6rem 0; } }
  .team__sub {
    font-size: 1.8rem;
    text-align: center; }

.section__contact {
  padding: 13rem 0; }
  @media only screen and (max-width: 37.5rem) {
    .section__contact {
      padding: 6rem 0; } }

.contact {
  background-size: cover;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap; }
  .contact__form {
    width: 100%;
    padding: 6rem;
    display: flex; }
    @media only screen and (max-width: 37.5rem) {
      .contact__form {
        padding: 0;
        padding-top: 3rem; } }
  .contact__title {
    font-size: 5rem;
    font-weight: 900;
    width: 100%;
    text-align: center; }
  .contact__img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
  .contact__icon {
    width: 25rem;
    height: 25rem; }

#map {
  width: 45%;
  height: 100%;
  width: 50%; }
  @media only screen and (max-width: 37.5rem) {
    #map {
      display: none; } }

.form {
  flex: 1;
  padding-right: 3rem; }
  @media only screen and (max-width: 37.5rem) {
    .form {
      padding-right: 0; } }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: black;
    padding: 1.5rem 2rem;
    background-color: #f2f2f2;
    border: none;
    width: 100%;
    display: block;
    transition: all .3s;
    border-bottom: 3px solid transparent; }
    .form__input:focus {
      outline: none;
      border-bottom: 3px solid black; }
    .form__input::placeholder {
      color: #ababab; }
    @media only screen and (max-width: 37.5rem) {
      .form__input {
        width: 100%; } }
  .form__textarea {
    font-size: 1.5rem;
    font-family: inherit;
    color: black;
    padding: 1.5rem 2rem;
    background-color: #f2f2f2;
    height: 15rem;
    border: none;
    width: 100%;
    display: block;
    transition: all .3s;
    border-bottom: 3px solid transparent; }
    .form__textarea:focus {
      outline: none;
      border-bottom: 3px solid black; }
    .form__textarea::placeholder {
      color: #ababab; }
  .form__label {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.works {
  padding: 13rem 0;
  letter-spacing: 0.1em; }
  @media only screen and (max-width: 1050px) {
    .works {
      padding: 6rem 0; } }
  .works__icon {
    fill: white;
    width: 2.5rem;
    height: 2.5rem;
    transform: translateY(-1rem);
    align-self: flex-start;
    margin-bottom: 1rem; }
    .works__icon:not(:last-child) {
      margin-right: 2rem; }
  .works__title {
    font-size: 4rem; }

.works-container {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 3rem;
  text-align: center; }
  @media only screen and (max-width: 1050px) {
    .works-container {
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr)); } }

.test-class {
  background-image: url("../public/img/cleanmaster.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%; }

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  transition: all .3s;
  background-color: #f4f4f4; }

.work-img-container {
  overflow: hidden;
  z-index: 1;
  position: relative;
  display: block; }

.work-img-container img {
  transition: transform .5s ease;
  z-index: 2; }

.work-img-container:hover img {
  transform: scale(1.1); }

.work-img-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-out; }
  .work-img-overlay__text {
    display: block;
    width: 100%;
    position: absolute;
    top: 30%;
    color: #ffffff;
    text-align: center; }
  .work-img-overlay__icon {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    color: #ffffff;
    text-align: center; }

.work-img-container:hover .work-img-overlay {
  opacity: 1;
  cursor: pointer; }

.services {
  background-color: #f2f2f2;
  width: 100%;
  letter-spacing: 0.1em;
  position: relative;
  overflow: hidden; }
  .services__title {
    font-size: 4rem;
    text-align: left;
    margin-right: auto;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 50rem) {
      .services__title {
        font-size: 2.5rem; } }
  .services__img {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    position: absolute; }
    .services__img--left {
      left: 0; }
    .services__img--1 {
      background-image: url("../img/img_back2.jpeg"); }
    .services__img--2 {
      background-image: url("../img/img_back3.jpeg"); }
    @media only screen and (max-width: 37.5rem) {
      .services__img {
        display: none; } }
  .services__side {
    padding: 13rem 2rem;
    width: 40%; }
    @media only screen and (max-width: 50rem) {
      .services__side {
        padding: 6rem 0;
        width: 50%; } }
    @media only screen and (max-width: 37.5rem) {
      .services__side {
        width: 100%; } }
    .services__side--right {
      margin-left: auto; }

.section-divider {
  padding: 13rem 0;
  letter-spacing: 0.1em;
  background-color: #232323; }
  @media only screen and (max-width: 50rem) {
    .section-divider {
      padding: 6rem 0; } }

.section-divider-title {
  font-size: 3rem;
  color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  @media only screen and (max-width: 37.5rem) {
    .section-divider-title {
      font-size: 2.5rem; } }

.section-divider-quote {
  color: #f2f2f2;
  font-size: 2rem;
  display: inline-block;
  text-align: left; }
  @media only screen and (max-width: 37.5rem) {
    .section-divider-quote {
      font-size: 1.6rem; } }

.section-divider-quote span {
  font-style: italic;
  font-optical-sizing: inherit;
  display: block;
  text-align: right;
  margin-top: .5rem; }

.features {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 5rem; }

.feature {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.1em;
  padding: 1.5rem 0; }
  .feature__icon {
    fill: black;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
    align-self: flex-start;
    margin-bottom: 1rem; }
    .feature__icon:not(:last-child) {
      margin-right: 2rem; }
  .feature__title {
    align-self: flex-start; }
  .feature__icon-box {
    align-self: flex-start; }
  .feature__text {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 2rem;
    position: relative; }
    .feature__text::after {
      content: "";
      position: absolute;
      top: 130%;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: rgba(28, 28, 28, 0.15); }

.cards {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 3rem;
  text-align: center; }
  @media only screen and (max-width: 1050px) {
    .cards {
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr)); } }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  padding: 4rem 1rem;
  transition: all .3s; }
  .card__img {
    width: 100%;
    height: 30rem;
    display: block;
    object-fit: cover; }
  .card__name {
    font-size: 2.8rem;
    font-weight: 900; }
  .card__job {
    font-size: 1.6rem;
    font-weight: 500; }
  .card__text {
    margin-top: 2rem;
    font-size: 1.4rem; }
  .card__social {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
  .card__icon {
    height: 2rem;
    width: 2rem;
    transition: fill .2s; }
    .card__icon:not(:last-child) {
      margin-right: 1.5rem; }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(28, 28, 28, 0.15);
    background-color: #ffffff; }
    @media only screen and (max-width: 50rem) {
      .card:hover {
        transform: none;
        box-shadow: none;
        background-color: none; } }
  .card:hover .card__icon {
    fill: #006e98;
    color: red;
    cursor: pointer; }

.side-menu {
  display: none;
  position: absolute;
  width: 50%;
  height: 100vh;
  background-color: #171717;
  top: 0;
  left: -51%;
  transition: left .3s ease-in-out; }
  @media only screen and (max-width: 50rem) {
    .side-menu {
      display: flex; } }

.side-menu-show {
  left: 0; }

.side-menu-list {
  padding-top: 6.5rem; }
  .side-menu-list__item {
    text-decoration: none;
    list-style: none;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.6rem; }
  .side-menu-list__item::before {
    left: 5%;
    width: 0;
    transform: none;
    transition: all ease-in-out .3s;
    background: none repeat scroll 0 0 #ffffff; }
  .side-menu-list__item:hover::before {
    transform: none;
    width: 80%; }
  .side-menu-list__link {
    color: white !important; }
