*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.btn {
  width: 90%;
  background-color: #333333;
  color: #f2f2f2; }
  .btn:focus {
    outline: none; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .2s;
    background-color: rgba(255, 255, 255, 0); }
  .btn:hover:before {
    background-color: rgba(255, 255, 255, 0.1); }

body {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  line-height: 1.7;
  color: #4F4E4E; }

.hero-title, .section-title, .sub-section-title-1, .sub-section-title-2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #3B3B3B; }

.hero-body, .section-body, .sub-section-body-1, .sub-section-body-2 {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  line-height: 1.7;
  color: #4F4E4E; }

.hero-title {
  line-height: 1;
  letter-spacing: 0.1rem;
  font-size: 7rem;
  font-weight: 900; }

.section-title {
  font-size: 5rem;
  text-align: center;
  font-weight: 900; }

.sub-section-title-1 {
  font-size: 2.8rem;
  font-weight: 700; }

.sub-section-title-2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left; }

.hero-body {
  font-size: 3rem;
  line-height: 1;
  font-weight: 500; }

.section-body {
  font-size: 1.8rem;
  text-align: center; }

.sub-section-body-1 {
  font-size: 1.6rem; }

.sub-section-body-2 {
  font-size: 1.4rem;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.footer {
  background-color: black;
  padding-top: 13rem;
  color: white; }
  .footer__content {
    display: flex;
    flex-wrap: wrap; }
  .footer__nav {
    padding: 0 3rem;
    flex: 1; }
  .footer__title {
    font-size: 2rem;
    color: white; }
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
  .footer__item {
    font-size: 1.4rem;
    color: #727272;
    cursor: pointer; }
    .footer__item:not(:last-child) {
      margin-bottom: 1rem; }
  .footer__item:hover {
    color: white; }
  .footer__copyright {
    padding: 4rem 0;
    font-size: 1.6rem;
    background-color: #2b2b2b;
    margin-top: 3rem;
    text-align: center;
    color: #727272; }

.hero {
  height: calc(100vh - 6.5rem);
  text-align: center;
  line-height: 1;
  letter-spacing: 0.1em;
  position: relative; }
  .hero__content {
    display: flex;
    height: 80vh;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .hero__title {
    font-size: 7rem;
    font-weight: 900;
    color: #1c1c1c; }
  .hero__sub {
    font-size: 3rem;
    line-height: 1;
    font-weight: 500; }
  .hero__list {
    display: flex;
    text-decoration: none;
    font-weight: 500; }
  .hero__item {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    position: relative; }
  .hero__item::before {
    content: "";
    position: absolute;
    top: 3;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(../img/svg/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block; }
  .hero__icon {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 6.5rem;
    height: 6.5rem;
    display: block;
    fill: #1c1c1c;
    border: 1px solid #1c1c1c;
    padding: 1rem;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%); }

.header {
  padding: .5rem 0;
  background-color: white;
  background-color: white; }
  .header__fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11111;
    box-shadow: 0 1px 0.3rem rgba(28, 28, 28, 0.3);
    padding-top: 0;
    background-color: white; }

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  align-items: center;
  font-weight: 500; }
  .navbar__logo {
    font-size: 3rem; }
  .navbar__list {
    list-style: none;
    display: flex; }
  .navbar__item {
    position: relative; }
  .navbar__item::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #1c1c1c;
    transform: scaleX(0);
    transition: transform 0.5s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .navbar__item:hover::before, .navbar__item--actived::before {
    transform: scaleX(1); }
  .navbar__item:active::before {
    background-color: gray; }
  .navbar__link:visited, .navbar__link:link {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #1c1c1c;
    text-transform: capitalize; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.about {
  background-color: #f2f2f2;
  width: 100%;
  padding: 13rem 0;
  letter-spacing: 0.1em;
  background-image: url("../img/background-img-4.jpg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 680px bottom 0; }
  .about__title {
    font-size: 5rem;
    color: #1c1c1c;
    text-align: center;
    font-weight: 900; }

.team {
  padding: 13rem 0;
  letter-spacing: 0.1em;
  background-color: #f2f2f2; }
  .team__sub {
    font-size: 1.8rem;
    text-align: center; }

.section__contact {
  padding: 13rem 0; }

.contact {
  background-size: cover;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap; }
  .contact__form {
    width: 100%;
    padding: 6rem;
    display: flex; }
  .contact__title {
    font-size: 5rem;
    font-weight: 900;
    width: 100%;
    text-align: center; }
  .contact__img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
  .contact__icon {
    width: 25rem;
    height: 25rem; }

#map {
  width: 50%;
  height: 100%;
  width: 50%; }

.form {
  flex: 1; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: black;
    padding: 1.5rem 2rem;
    background-color: transparent;
    border: none;
    border: 1px solid #666666;
    width: 90%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none; }
    .form__input::placeholder {
      color: #666666; }
  .form__textarea {
    font-size: 1.5rem;
    font-family: inherit;
    color: black;
    padding: 1.5rem 2rem;
    background-color: transparent;
    height: 15rem;
    border: none;
    border: 1px solid #666666;
    width: 90%;
    display: block;
    transition: all .3s; }
    .form__textarea:focus {
      outline: none; }
    .form__textarea::placeholder {
      color: #666666; }
  .form__label {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.works {
  padding: 13rem 0;
  letter-spacing: 0.1em; }

.services {
  background-color: #f2f2f2;
  width: 100%;
  padding: 13rem 0;
  letter-spacing: 0.1em;
  background-image: url("../img/img_back3.jpeg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 680px bottom 0; }
  .services__title {
    font-size: 5rem;
    color: #1c1c1c;
    text-align: center;
    font-weight: 900; }

.services-container {
  overflow: hidden;
  perspective: 2px; }

.services-title {
  font-size: 4rem;
  width: 48%;
  margin-right: auto;
  margin-top: -8rem;
  margin-bottom: 5rem; }

.services-features {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem;
  align-items: end;
  width: 45%;
  float: left; }

.service-feature {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.1em;
  padding: 1.5rem 3rem; }
  .service-feature__icon {
    fill: black;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
    align-self: flex-end;
    margin-bottom: 1rem; }
    .service-feature__icon:not(:last-child) {
      margin-right: 2rem; }
  .service-feature__title {
    align-self: flex-end; }
  .service-feature__icon-box {
    align-self: flex-end; }
  .service-feature__text {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 2rem;
    position: relative; }
    .service-feature__text::after {
      content: "";
      position: absolute;
      top: 130%;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: rgba(28, 28, 28, 0.15); }

.features-container {
  overflow: hidden;
  perspective: 2px; }

.features-title {
  font-size: 4rem;
  width: 48%;
  margin-left: auto;
  margin-top: -8rem;
  margin-bottom: 5rem; }

.features {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem;
  align-items: start;
  width: 45%;
  float: right; }

.feature {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.1em;
  padding: 1.5rem 3rem; }
  .feature__icon {
    fill: black;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
    align-self: flex-start;
    margin-bottom: 1rem; }
    .feature__icon:not(:last-child) {
      margin-right: 2rem; }
  .feature__title {
    align-self: flex-start; }
  .feature__icon-box {
    align-self: flex-start; }
  .feature__text {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 2rem;
    position: relative; }
    .feature__text::after {
      content: "";
      position: absolute;
      top: 130%;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: rgba(28, 28, 28, 0.15); }

.cards {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 3rem;
  text-align: center; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  padding: 4rem 1rem;
  transition: all .3s; }
  .card__img {
    width: 100%;
    height: 30rem;
    display: block;
    object-fit: cover; }
  .card__name {
    font-size: 2.8rem;
    font-weight: 900; }
  .card__job {
    font-size: 1.6rem;
    font-weight: 500; }
  .card__text {
    margin-top: 2rem;
    font-size: 1.4rem; }
  .card__social {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
  .card__icon {
    height: 2rem;
    width: 2rem;
    transition: fill .2s; }
    .card__icon:not(:last-child) {
      margin-right: 1.5rem; }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(28, 28, 28, 0.15);
    background-color: #ffffff; }
  .card:hover .card__icon {
    fill: #006e98;
    color: red;
    cursor: pointer; }
