*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.btn {
  width: 90%;
  border-radius: 0.3rem;
  background-color: #333333;
  color: #f2f2f2;
  border: 2px solid #333333; }
  .btn:focus {
    outline: none; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .2s;
    background-color: rgba(255, 255, 255, 0); }
  .btn:hover:before {
    background-color: rgba(255, 255, 255, 0.1); }

body {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  line-height: 1.7;
  color: #4F4E4E; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #3B3B3B; }

.heading-1 {
  line-height: 1;
  letter-spacing: 0.1rem;
  font-size: 7rem;
  font-weight: 900; }

.heading-2 {
  font-size: 4rem;
  font-style: italic; }

.heading-3 {
  font-size: 2rem;
  color: black;
  font-weight: 700;
  text-transform: capitalize; }

.heading-4 {
  font-size: 1.4rem; }

.section-title {
  font-size: 5rem;
  color: black;
  text-align: center;
  font-weight: 900; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11111;
  padding-top: 0; }

.footer {
  background-color: black;
  padding: 20rem 0;
  color: white; }
  .footer__copyright {
    text-align: center; }

.hero {
  height: 90vh;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.1em;
  position: relative; }
  .hero__content {
    display: flex;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .hero__title {
    font-size: 7rem;
    font-weight: 900;
    color: #1c1c1c; }
  .hero__sub {
    font-size: 3rem;
    line-height: 1;
    font-weight: 500; }
  .hero__list {
    display: flex;
    text-decoration: none;
    font-weight: 500; }
  .hero__item {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    position: relative; }
  .hero__item::before {
    content: "";
    position: absolute;
    top: 3;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(../img/svg/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block; }
  .hero__icon {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 6.5rem;
    height: 6.5rem;
    display: block;
    fill: #1c1c1c;
    border: 1px solid #1c1c1c;
    padding: 1rem;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%); }

.header {
  padding: .5rem 0;
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem rgba(28, 28, 28, 0.3); }

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  align-items: center;
  font-weight: 500; }
  .navbar__logo {
    font-size: 3rem; }
  .navbar__list {
    list-style: none;
    display: flex; }
  .navbar__item {
    position: relative; }
  .navbar__item::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #1c1c1c;
    transform: scaleX(0);
    transition: transform 0.5s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .navbar__item:hover::before, .navbar__item--actived::before {
    transform: scaleX(1); }
  .navbar__item:active::before {
    background-color: gray; }
  .navbar__link:visited, .navbar__link:link {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #1c1c1c;
    text-transform: capitalize; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.about {
  background-color: #f2f2f2;
  width: 100%;
  padding: 10rem 0;
  letter-spacing: 0.1em; }
  .about__title {
    font-size: 5rem;
    color: #1c1c1c;
    text-align: center;
    font-weight: 900; }

.team {
  padding: 10rem 0;
  letter-spacing: 0.1em; }
  .team__sub {
    font-size: 1.8rem;
    text-align: center; }

.section__contact {
  padding: 13rem 0;
  background-color: #f2f2f2; }

.contact {
  background-size: cover;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap; }
  .contact__form {
    width: 55%;
    padding: 6rem; }
  .contact__title {
    font-size: 5rem;
    color: black;
    font-weight: 900;
    width: 100%;
    text-align: center; }
  .contact__img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
  .contact__icon {
    width: 25rem;
    height: 25rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border: 1px solid #e3e3e3;
  width: 90%;
  display: block;
  border-bottom: 3px solid transparent;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid black; }
  .form__input:focus:invalid {
    border-bottom: 3px solid black; }
  .form__input::placeholder {
    color: #bababa; }

.form__textarea {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 15rem;
  border: 2px solid #dedede;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid black; }
  .form__textarea:focus:invalid {
    border-bottom: 3px solid black; }
  .form__textarea::placeholder {
    color: #bababa; }

.features {
  display: grid;
  margin-top: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  align-items: start; }

.feature {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.1em;
  padding: 1.5rem 3rem; }
  .feature__icon {
    fill: black;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
    align-self: flex-start;
    margin-bottom: 1rem; }
    .feature__icon:not(:last-child) {
      margin-right: 2rem; }
  .feature__title {
    align-self: flex-start; }
  .feature__icon-box {
    align-self: flex-start; }
  .feature__text {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 2rem;
    position: relative; }
    .feature__text::after {
      content: "";
      position: absolute;
      top: 130%;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: rgba(28, 28, 28, 0.15); }

.cards {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 3rem;
  text-align: center; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  padding: 4rem 1rem;
  transition: all .3s; }
  .card__img {
    width: 100%;
    height: 30rem;
    display: block;
    object-fit: cover; }
  .card__name {
    font-size: 2.8rem;
    font-weight: 900; }
  .card__job {
    font-size: 1.6rem;
    font-weight: 500; }
  .card__text {
    margin-top: 2rem;
    font-size: 1.4rem; }
  .card__social {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
  .card__icon {
    height: 2rem;
    width: 2rem;
    transition: fill .2s; }
    .card__icon:not(:last-child) {
      margin-right: 1.5rem; }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(28, 28, 28, 0.15); }
  .card:hover .card__icon {
    fill: #006e98;
    color: red; }
