.about {
	background-color: #f2f2f2;
	width: 100%;
	padding: 10rem 0;
	letter-spacing: 0.1em;

	&__title {
		font-size: 5rem;
		color: $primary-color;
		text-align: center;
		font-weight: 900;

		//display: grid;
		//align-items: center;
		//grid-template-columns: 1fr max-content 1fr;
		//grid-column-gap: 1.5rem;

		// &::before,
		// &::after {
		// 	content: "";
		// 	height: 1px;
		// 	display: block;
		// 	background-color: rgba($primary-color, 0.5);
		// }
	}
}
