.about {
	background-color: #f2f2f2;
	width: 100%;
	padding: 13rem 0;
	letter-spacing: 0.1em;
	position: relative;
	overflow: hidden;

	@media only screen and (max-width: $bp-medium) {
		padding: 6rem 2rem;
	}

	&__title {
		font-size: 5rem;
		color: $primary-color;
		text-align: center;
		font-weight: 900;
	}
}
