.hero {
	height: 90vh;
	text-align: center;
	line-height: 1;
	letter-spacing: 0.1em;
	position: relative;

	&__content {
		display: flex;
		height: 100vh;
		width: 90%;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		font-size: 7rem;
		font-weight: 900;
	}
	&__sub {
		font-size: 3rem;
		line-height: 1;
		font-weight: 500;
	}

	&__list {
		display: flex;
		text-decoration: none;
		font-weight: 500;
	}

	&__item {
		display: inline-block;
		padding: 1rem 2rem;
		text-decoration: none;
		font-size: 1.4rem;
		position: relative;
	}

	&__item::before {
		content: "";
		position: absolute;
		top: 3;
		left: 0;
		height: 1.5rem;
		width: 1.5rem;
		background-image: url(../img/svg/check.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: block;
	}

	&__icon {
		position: absolute;
		top: 90%;
		left: 50%;
		width: 6.5rem;
		height: 6.5rem;
		display: block;
		fill: black;
		border: 1px solid black;
		padding: 1rem;
		border-radius: 50%;
		transform: translateY(-50%) translateX(-50%);
	}
}
