.header {
	background-color: white;
	// box-shadow: 0 1px 0.3rem rgba($primary-color, .3);
	//background-color: white;
	font-family: 'Montserrat', sans-serif;

	&__fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 11111;
		box-shadow: 0 1px 0.3rem rgba($primary-color, .3);
		padding-top: 0;
		background-color: white;
	}
}

.navbar {
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
	align-items: center;
	font-weight: 500;

	@media only screen and (max-width: $bp-small) {
		font-size: 1.2rem;
	}

	&__logo {
		font-size: 3rem;
		//margin-left: 2rem;
	}

	&__list {
		list-style: none;
		display: flex;
	}

	&__item {
		position: relative;
	}

	&__item::before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: $primary-color;
		transform: scaleX(0);
		transition: transform .5s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
	}

	&__item:hover::before,
	&__item--actived::before {
		transform: scaleX(1);
	}

	&__item:active::before {
		background-color: gray;
	}

	&__link:visited,
	&__link:link {
		display: block;
		padding: 1rem 2rem;
		@media only screen and (max-width: $bp-small) {
			padding: 1rem;
		}
		text-decoration: none;
		letter-spacing: 0.1em;
		color: $primary-color;
		text-transform: capitalize;
	}
}
