.section-divider {
	padding: 13rem 0;

	@media only screen and (max-width: $bp-medium) {
		padding: 6rem 0;
	}
	letter-spacing: 0.1em;
	background-color: #232323;
}

.section-divider-title {
	font-size: 3rem;
	color: #f2f2f2;
	width: 100%;
	margin: 0 auto;
	text-align: center;

	@media only screen and (max-width: $bp-small) {
		font-size: 2.5rem;
	}
}

.section-divider-quote {
	color: #f2f2f2;
	font-size: 2rem;
	display: inline-block;
	text-align: left;

	@media only screen and (max-width: $bp-small) {
		font-size: 1.6rem;
	}
}

.section-divider-quote span {
	font-style: italic;
	font-optical-sizing: inherit;
	display: block;
	text-align: right;
	margin-top: .5rem;
}
