.services {
	background-color: #f2f2f2;
	width: 100%;
	letter-spacing: 0.1em;
	position: relative;
	overflow: hidden;

	&__title {
		font-size: 4rem;
		text-align: left;
		margin-right: auto;
		margin-bottom: 5rem;

		@media only screen and (max-width: $bp-medium) {
			font-size: 2.5rem;
		}
	}

	&__img {
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		width: 50%;
		top: 0;
		right: 0;
		position: absolute;

		&--left {
			left: 0;
		}
		&--1 {
			background-image: url('../img/img_back2.jpeg');
		}

		&--2 {
			background-image: url('../img/img_back3.jpeg');
		}

		@media only screen and (max-width: $bp-small) {
			display: none;
		}
	}

	&__side {
		padding: 13rem 2rem;
		width: 40%;

		@media only screen and (max-width: $bp-medium) {
			padding: 6rem 0;
			width: 50%;
		}

		@media only screen and (max-width: $bp-small) {
			width: 100%;
		}

		&--right {
			margin-left: auto;
		}
	}
}
