.services {
	background-color: #f2f2f2;
	width: 100%;
	padding: 13rem 0;
	letter-spacing: 0.1em;

	background-image: url('../img/img_back3.jpeg');
	// background-attachment: fixed;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;

	background-position: left 680px bottom 0;

	&__title {
		font-size: 5rem;
		color: $primary-color;
		text-align: center;
		font-weight: 900;

		//display: grid;
		//align-items: center;
		//grid-template-columns: 1fr max-content 1fr;
		//grid-column-gap: 1.5rem;

		// &::before,
		// &::after {
		// 	content: "";
		// 	height: 1px;
		// 	display: block;
		// 	background-color: rgba($primary-color, 0.5);
		// }
	}
}

.services-container {
	overflow: hidden;
	perspective: 2px;
}

.services-title {
	font-size: 4rem;
	width: 48%;
	// float: right;
	margin-right: auto;
	margin-top: -8rem;
	margin-bottom: 5rem;
}

.services-features {

	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 5rem;
	align-items: end;
	width: 45%;
	float: left;
}

.service-feature {

	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	letter-spacing: 0.1em;
	padding: 1.5rem 3rem;


	&__icon {
		fill: black;
		width: 4.5rem;
		height: 4.5rem;
		transform: translateY(-1rem);
		align-self: flex-end;
		margin-bottom: 1rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
	&__title {
		align-self: flex-end;
	}
	&__icon-box {
		align-self: flex-end;
	}
	&__text {
		font-size: 1.4em;
		font-weight: 500;
		margin-top: 2rem;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 130%;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: rgba($primary-color, 0.15);
		}
	}
}
