.team {
	padding: 13rem 0;
	@media only screen and (max-width: $bp-small) {
		padding: 6rem 0;
	}
	letter-spacing: 0.1em;
	background-color: #f2f2f2;

	&__sub {
		font-size: 1.8rem;
		text-align: center;
	}
}
