.works {
	padding: 13rem 0;
	letter-spacing: 0.1em;

	&__icon {
		fill: white;
		width: 2.5rem;
		height: 2.5rem;
		transform: translateY(-1rem);
		align-self: flex-start;
		margin-bottom: 1rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}
