.works {
	padding: 13rem 0;
	letter-spacing: 0.1em;
	@media only screen and (max-width: 1050px) {
		padding: 6rem 0;
	}

	&__icon {
		fill: white;
		width: 2.5rem;
		height: 2.5rem;
		transform: translateY(-1rem);
		align-self: flex-start;
		margin-bottom: 1rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	&__title {
		font-size: 4rem;
	}
}

.works .container > div {
	//display: inline-block;
}

// .works-header-container {

// 	width: 100%;
// 	grid-row: 1 / -1;
// 	grid-column: last-start / last-end;
// 	padding-left: 5rem;

// 	// margin-right: auto;
// }

.works-header-container h3 {
}

.works-container {
	margin-top: 7rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	grid-gap: 3rem;
	text-align: center;

	@media only screen and (max-width: 1050px) {
		grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
	}

	//changes

	// display: grid;

	// // grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	// grid-template-columns: [col-start] repeat(2, 25%) [col-end last-start]  1fr [last-end];
	// grid-template-rows: 1fr 1fr;
	// grid-gap: 0.3rem;
	// // width: 100%;
	// width: 100%;
	// // height: 100%;
	// // border: 1px solid black;
}

.works-container img {
}

.test-class {
	background-image: url('../public/img/cleanmaster.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.work {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 4rem;
	transition: all .3s;
	background-color: #f4f4f4;

	//changes
	// display: flex;
	// flex-direction: column;
	// width: 30%;
}

.work-img-container {
	overflow: hidden;
	z-index: 1;
	position: relative;
	display: block;
	// width: 100%;
	// height: 100%;

	//changes
}

.work-img-container img {
	transition: transform .5s ease;
	z-index: 2;
}

.work-img-container:hover img {
	transform: scale(1.1);
}

.work-img-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity .3s ease-out;

	&__text {
		display: block;
		width: 100%;
		position: absolute;
		top: 30%;
		color: #ffffff;
		text-align: center;
	}

	&__icon {
		display: block;
		width: 100%;
		position: absolute;
		top: 50%;
		color: #ffffff;
		text-align: center;
	}
}

.work-img-container:hover .work-img-overlay {
	opacity: 1;
	cursor: pointer;
}
