
.center-page-separator {

  /*background-color: #2E2E2E;*/
  /*border-radius: 5rem;*/
  padding: 3rem;
  font-size: 3rem;
  color: #F2F2F2;
  width: 50%;
  margin: 0 auto;
  text-align: center;

  /*-webkit-box-shadow: 0 20px 4px -17px #A6A6A6;*/
/*   -moz-box-shadow: 0 10px 6px -20px #777;
        box-shadow: 0 10px 6px -20px #777;*/
}

.center-page-separator-quote {
  /*width: 100%;*/
  color: #F2F2F2;
  font-size: 2rem;
  /*text-align: center;*/
  display: inline-block;
  text-align: right;
}

.center-page-separator-quote span{
  font-style: italic;
}

.our-project-cards {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 3rem;
  text-align: center; 
}

.our-project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border-radius: 3px;*/
  padding-bottom: 4rem;
  transition: all .3s; 
  background-color: #F4F4F4;
  /*border-bottom: 1px solid #DFDFDF;*/

}

.card-img-container {

  overflow: hidden;
  z-index: 1;
  position: relative;

}

.card-img-container img {
  transition: transform .5s ease;
  z-index: 2
}

.card-img-container:hover img {
  transform: scale(1.1);
}

.card__img-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.card-img-container:hover .card__img-overlay{
    opacity: 1;
    cursor: pointer;
}

.card__img-overlay-text,
.card__img-overlay-icon
 {
  display: block;
  width: 100%;
  position: absolute;
  top: 30%;
  color: #FFFFFF;
  text-align: center;
}

/*.card__img-overlay-text {

  top: 30%;

}

*/
.card__img-overlay-icon {

  top: 50%;

}

.card__img-overlay-icon img {
  color: white;
}

