.cards {
	margin-top: 7rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));

	@media only screen and (max-width: 1050px) {
		grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
	}
	//grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
	grid-gap: 3rem;
	text-align: center;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 3px;

	//box-shadow: 0 .5rem 1rem rgba($primary-color, 0.15);
	//padding: 4rem 1rem;
	transition: all .3s;

	&__img {
		width: 100%;
		height: 30rem;
		//border-radius: 50%;
		display: block;
		object-fit: cover;
	}
	&__name {
		font-size: 2.8rem;
		font-weight: 900;
	}
	&__job {
		font-size: 1.6rem;
		font-weight: 500;
	}
	&__text {
		margin-top: 2rem;
		font-size: 1.4rem;
	}
	&__social {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		transition: fill .2s;
		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&:hover {
		transform: scale(1.1);
		box-shadow: 0 .5rem 1rem rgba($primary-color, 0.15);
		background-color: #ffffff;

		@media only screen and (max-width: $bp-medium) {
			transform: none;
			box-shadow: none;
			background-color: none;
		}
	}

	&:hover &__icon {
		fill: #006e98;
		color: red;
		cursor: pointer;
	}
}
