.features {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
	row-gap: 5rem;
}

.feature {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	letter-spacing: 0.1em;
	padding: 1.5rem 0;

	&__icon {
		fill: black;
		width: 4.5rem;
		height: 4.5rem;
		transform: translateY(-1rem);
		align-self: flex-start;
		margin-bottom: 1rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
	&__title {
		align-self: flex-start;
	}
	&__icon-box {
		align-self: flex-start;
	}
	&__text {
		font-size: 1.4em;
		font-weight: 500;
		margin-top: 2rem;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 130%;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: rgba($primary-color, 0.15);
		}
	}
}
