.features-container {
	overflow: hidden;
	perspective: 2px;
}

.features-title {
	font-size: 4rem;
	width: 48%;
	// float: right;
	margin-left: auto;
	margin-top: -8rem;
	margin-bottom: 5rem;
}

.features-img-container {
	background-image: url('../img/background-img-4.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	height: 100%;
	width: 50%;
	top: 0;
	left: 0;
	position: absolute;
}

.features {

	// display: grid;
	// margin-top: 10rem;
	// grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	// gap: 2rem;
	// align-items: start;

	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 5rem;
	align-items: start;
	width: 45%;
	float: right;
}

.feature {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	letter-spacing: 0.1em;
	padding: 1.5rem 3rem;

	&__icon {
		fill: black;
		width: 4.5rem;
		height: 4.5rem;
		transform: translateY(-1rem);
		align-self: flex-start;
		margin-bottom: 1rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
	&__title {
		align-self: flex-start;
	}
	&__icon-box {
		align-self: flex-start;
	}
	&__text {
		font-size: 1.4em;
		font-weight: 500;
		margin-top: 2rem;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 130%;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: rgba($primary-color, 0.15);
		}
	}
}
