body {
	//font-family: "Lato", sans-serif;
	//font-family: 'Montserrat', sans-serif;
	font-family: 'Merriweather', serif;
	font-weight: 500;
	line-height: 1.7;
	color: #4f4e4e;
}

%heading {
	//font-family: "Lato", sans-serif;
	//font-family: 'Montserrat', sans-serif;
	font-family: 'Montserrat', sans-serif;
	//font-weight: 700;
	letter-spacing: 0.1rem;
	color: #3b3b3b;
}

%body {
	font-family: 'Merriweather', serif;
	font-weight: 500;
	line-height: 1.7;
	color: #4f4e4e;
}

// TITLES

.hero-title {
	@extend %heading;
	// font-size: 4.5rem;
	// color: black;
	line-height: 1;
	letter-spacing: 0.1rem;
	//ADDED
	font-size: 7rem;
	font-weight: 900;
}

.section-title {
	@extend %heading;
	font-size: 5rem;
	text-align: center;
	font-weight: 900;

	@media only screen and (max-width: $bp-small) {
		font-size: 2rem;
		padding-bottom: 1rem;
	}
}

.sub-section-title-1 {
	@extend %heading;
	font-size: 2.8rem;
	font-weight: 700;
}

.sub-section-title-2 {
	@extend %heading;
	font-size: 2rem;
	font-weight: 700;
	text-transform: capitalize;
	text-align: left;
}

.hero-body {
	@extend %body;
	font-size: 3rem;
	line-height: 1;
	font-weight: 500;
}

// BODYS

.section-body {
	@extend %body;
	font-size: 1.8rem;
	text-align: center;

	@media only screen and (max-width: $bp-small) {
		font-size: 1.2rem;
	}
}

.sub-section-body-1 {
	@extend %body;
	font-size: 1.6rem;
}

.sub-section-body-2 {
	@extend %body;
	font-size: 1.4rem;
	font-weight: 400;
}

//
